<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j='http://jakarta.apache.org/log4j/'>

  <appender name="CA" class="org.apache.log4j.ConsoleAppender">
    <param name="Threshold" value="ERROR" />
    <layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern" value="%d [%t] %p - %m - (%c)%n" />
    </layout>
  </appender>

  <appender name="CA-testing" class="org.apache.log4j.ConsoleAppender">
    <param name="Threshold" value="DEBUG" />
    <layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern" value="%d [%t] %p - %m - (%c)%n" />
    </layout>
    <filter class="org.apache.log4j.varia.LevelRangeFilter">
      <param name="levelMin" value="DEBUG" />
      <param name="levelMax" value="INFO" />
    </filter>
  </appender>

  <appender name="FA-testing" class="org.apache.log4j.FileAppender">
    <param name="File" value="logs/testing.log" />
    <param name="Threshold" value="DEBUG" />
    <layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern" value="%d [%t] %p - %m - (%c)%n" />
    </layout>
  </appender>

  <!--  TODO: How to set common pattern for all of these? -->
  <appender name="FA" class="org.apache.log4j.FileAppender">
    <param name="File" value="logs/all.log" />
    <param name="Threshold" value="DEBUG" />
    <layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern" value="%d [%t] %p - %m - (%c)%n" />
    </layout>
  </appender>

  <appender name="FA-appcore" class="org.apache.log4j.FileAppender">
    <param name="File" value="logs/appcore.log" />
    <param name="Threshold" value="DEBUG" />
    <layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern" value="%d [%t] %p - %m - (%c)%n" />
    </layout>
  </appender>

  <appender name="FA-crypto" class="org.apache.log4j.FileAppender">
    <param name="File" value="logs/crypto.log" />
    <param name="Threshold" value="DEBUG" />
    <layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern" value="%d [%t] %p - %m - (%c)%n" />
    </layout>
  </appender>

  <appender name="FA-replicator" class="org.apache.log4j.FileAppender">
    <param name="File" value="logs/replicator.log" />
    <param name="Threshold" value="DEBUG" />
    <layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern" value="%d [%t] %p - %m - (%c)%n" />
    </layout>
  </appender>

  <appender name="FA-api" class="org.apache.log4j.FileAppender">
    <param name="File" value="logs/api.log" />
    <param name="Threshold" value="DEBUG" />
    <layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern" value="%d [%t] %p - %m - (%c)%n" />
    </layout>
  </appender>

  <appender name="FA-comm" class="org.apache.log4j.FileAppender">
    <param name="File" value="logs/comm.log" />
    <param name="Threshold" value="DEBUG" />
    <layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern" value="%d [%t] %p - %m - (%c)%n" />
    </layout>
  </appender>

  <appender name="FA-dht" class="org.apache.log4j.FileAppender">
    <param name="File" value="logs/dht.log" />
    <param name="Threshold" value="DEBUG" />
    <layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern" value="%d [%t] %p - %m - (%c)%n" />
    </layout>
  </appender>

  <appender name="FA-replicator" class="org.apache.log4j.FileAppender">
    <param name="File" value="logs/replicator.log" />
    <param name="Threshold" value="DEBUG" />
    <layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern" value="%d [%t] %p - %m - (%c)%n" />
    </layout>
  </appender>

  <appender name="FA-broker" class="org.apache.log4j.FileAppender">
    <param name="File" value="logs/broker.log" />
    <param name="Threshold" value="DEBUG" />
    <layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern" value="%d [%t] %p - %m - (%c)%n" />
    </layout>
  </appender>

  <appender name="FA-dispatcher" class="org.apache.log4j.FileAppender">
    <param name="File" value="logs/dispatcher.log" />
    <param name="Threshold" value="DEBUG" />
    <layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern" value="%d [%t] %p - %m - (%c)%n" />
    </layout>
  </appender>

  <logger name="org.nebulostore.communication.bdbdht">
    <level value="DEBUG"/>
    <appender-ref ref="FA-dht"/>
  </logger>

  <logger name="org.nebulostore.communication.kademlia">
    <level value="INFO"/>
    <appender-ref ref="FA-dht"/>
  </logger>

  <logger name="org.nebulostore.communication">
    <level value="DEBUG"/>
    <appender-ref ref="FA-comm"/>
  </logger>

  <logger name="org.nebulostore.systest">
    <level value="DEBUG" />
    <appender-ref ref="FA-testing"/>
  </logger>

  <logger name="org.nebulostore.conductor">
    <level value="DEBUG" />
    <appender-ref ref="FA-testing"/>
  </logger>

  <logger name="org.nebulostore.crypto">
    <level value="DEBUG" />
    <appender-ref ref="FA-crypto"/>
  </logger>

  <logger name="org.nebulostore.appcore">
    <level value="DEBUG" />
    <appender-ref ref="FA-appcore"/>
  </logger>

   <logger name="org.nebulostore.broker">
    <level value="DEBUG" />
    <appender-ref ref="FA-broker"/>
  </logger>

   <logger name="org.nebulostore.dispatcher">
    <level value="DEBUG" />
    <appender-ref ref="FA-dispatcher"/>
  </logger>

  <logger name="org.nebulostore.api">
    <level value="DEBUG" />
    <appender-ref ref="FA-api" />
  </logger>

  <logger name="org.nebulostore.async">
    <level value="DEBUG" />
    <appender-ref ref="FA-testing" />
    <appender-ref ref="FA" />
  </logger>

  <logger name="org.nebulostore.replicator">
    <level value="DEBUG" />
    <appender-ref ref="FA-replicator"/>
  </logger>

  <logger name="net.tomp2p">
    <level value="OFF" />
    <appender-ref ref="FA" />
  </logger>

  <root>
    <level value="ERROR" />
    <appender-ref ref="CA" />
    <appender-ref ref="FA" />
  </root>

</log4j:configuration>
