<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j='http://jakarta.apache.org/log4j/'>

  <appender name="CA" class="org.apache.log4j.ConsoleAppender">
    <param name="Threshold" value="ERROR" />
    <layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern" value="%d [%t] %-5p %c %x - %m%n" />
    </layout>
  </appender>
  
  <appender name="CA-testing" class="org.apache.log4j.ConsoleAppender">
    <param name="Threshold" value="DEBUG" />
    <layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern" value="%d [%t] %-5p %c %x - %m%n" />
    </layout>
  </appender>

  <appender name="FA-testing" class="org.apache.log4j.FileAppender">
    <param name="File" value="testing.log" />
    <param name="Threshold" value="DEBUG" />
    <layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern" value="%d [%t] %-5p %c %x - %m%n" />
    </layout>
  </appender>  

  <!--  TODO MBW: Remove this repetitions -->  
  <appender name="FA" class="org.apache.log4j.FileAppender">
    <param name="File" value="all.log" />
    <param name="Threshold" value="DEBUG" />
    <layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern" value="%d [%t] %-5p %c %x - %m%n" />
    </layout>
  </appender>
  
  <appender name="FA-comm" class="org.apache.log4j.FileAppender">
    <param name="File" value="comm.log" />
    <param name="Threshold" value="DEBUG" />
    <layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern" value="%d [%t] %-5p %c %x - %m%n" />
    </layout>
  </appender>

  <appender name="FA-query" class="org.apache.log4j.FileAppender">
    <param name="File" value="dql.log" />
    <param name="Threshold" value="DEBUG" />
    <layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern" value="%d [%t] %-5p %c %x - %m%n" />
    </layout>
  </appender>
  
  <appender name="FA-stream" class="org.apache.log4j.FileAppender">
    <param name="File" value="stream.log" />
    <param name="Threshold" value="DEBUG" />
    <layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern" value="%d [%t] %-5p %c %x - %m%n" />
    </layout>
  </appender>

  <appender name="FA-dht" class="org.apache.log4j.FileAppender">
    <param name="File" value="dht.log" />
    <param name="Threshold" value="DEBUG" />
    <layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern" value="%d [%t] %-5p %c %x - %m%n" />
    </layout>
  </appender> 
  
  <appender name="FA-replicator" class="org.apache.log4j.FileAppender">
    <param name="File" value="replicator.log" />
    <param name="Threshold" value="DEBUG" />
    <layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern" value="%d [%t] %-5p %c %x - %m%n" />
    </layout>
  </appender>  

  <logger name="org.nebulostore.communication.bdbdht">
    <level value="INFO"/>
    <appender-ref ref="FA-dht"/>
  </logger>

  <logger name="org.nebulostore.communication.kademlia">
    <level value="INFO"/>
    <appender-ref ref="FA-dht"/>
  </logger>  
  
  <logger name="org.nebulostore.communication">
    <level value="INFO"/>
    <appender-ref ref="FA-comm"/>
  </logger>
  
  <logger name="org.nebulostore.communication.streambinding">
    <level value="INFO"/>
    <appender-ref ref="FA-stream"/>
  </logger>
  
  <logger name="org.planx.xmlstore.routing">
    <level value="INFO"/>
    <appender-ref ref="FA-comm"/>
  </logger> 
  
  <logger name="org.nebulostore.testing">
    <level value="DEBUG" />
    <appender-ref ref="CA-testing"/>
    <appender-ref ref="FA-testing"/>    
  </logger>
  
  <logger name="org.nebulostore.appcore.TestingPeer">
    <level value="INFO" />
    <appender-ref ref="CA-testing"/>
    <appender-ref ref="FA-testing"/>
  </logger>
  
   <!--<logger name="org.nebulostore.appcore">
    <level value="INFO" />
    <appender-ref ref="CA"/>
    <appender-ref ref="FA"/>
  </logger> -->
  
  <logger name="org.nebulostore.communication.dht">
    <level value="INFO" />
    <!--<appender-ref ref="CA-testing"/> -->
    <appender-ref ref="FA-testing"/>
  </logger>
  
  <logger name="org.nebulostore.communication.messages">
    <level value="DEBUG" />
    <!-- <appender-ref ref="CA-testing"/> -->
    <appender-ref ref="FA-testing"/>
  </logger>
  
  <logger name="org.nebulostore.query">
    <level value="DEBUG" />
    <appender-ref ref="FA-query"/>
  </logger>
  
  
  <logger name="net.jxta">
    <level value="INFO" />
    <appender-ref ref="FA-comm" />
  </logger>
  
  <root>
    <appender-ref ref="CA" />
    <appender-ref ref="FA" />
  </root>

</log4j:configuration>
