<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd"
  [
    <!ENTITY pattern "&#37;d{HH:mm:ss,SSS} [&#37;t | &#37;c{1}] &#37;p: &#37;m&#37;n">
  ]>
<log4j:configuration xmlns:log4j='http://jakarta.apache.org/log4j/'>

  <appender name="FA-test" class="org.apache.log4j.FileAppender">
    <param name="File" value="logs/unit-tests.log" />
    <layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern" value="&pattern;" />
    </layout>
  </appender>

  <root>
    <priority value="DEBUG" />
    <appender-ref ref="FA-test" />
  </root>

</log4j:configuration>

