<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd"
  [
    <!ENTITY pattern "&#37;d{HH:mm:ss,SSS} [&#37;t | &#37;c{1}] &#37;p: &#37;m&#37;n">
  ]>
<log4j:configuration xmlns:log4j='http://jakarta.apache.org/log4j/'>

  <appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
    <layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern" value="&pattern;" />
    </layout>
  </appender>


    <category name="org.nebulostore">
        <priority value="debug"/>
    </category>


  <root>
    <priority value="DEBUG" />
    <appender-ref ref="CONSOLE" />
  </root>

</log4j:configuration>

